body {
background-color: lightblue;
}

article {
margin: 1cm;
font-family: verdana ;
font-size: 20px ;
}

h1 {
 border: 300px;
 text-align: center;
 font-family: verdana; 
 font-style: italic;
 color: blue; 
 margin: 0;
 text-shadow: 2px 4px 2px rgba(0,0,0,0.3);
}

a {
margin: 1cm;
border: 300px;
font-family: verdana;
}

img {
margin: 1cm;
float: left;
}

#teste {
	margin: 1cm;
	border-radius: 5px;
	border: 1px solid #CCC;
	height: 350px;
	background-color: white;
}